{% block sw_dashboard_index_content_intro_welcome_message %}
    <p class="sw-dashboard-index__welcome-message">
        {{ joke.setup }}
        <br>
        {{ joke.delivery }}
    </p>
{% endblock %}
